.DS_Store
./code/.DS_Store
./code/artifacts/
./code/cache/
./code/build/
./code/node_modules/
./code/.env
./tex/main.aux
./tex/main.log
./tex/main.out
./tex/main.blg
./tex/main.fls
./tex/main.synctex.gz
*.gz
*.log
*.aux
SBC_2023/llncs.cls
SBC_2023/main.bbl
